body {
  background-color: lightblue;
  font-family: "Times New Roman", serif;
}

h1 {
  font-weight: bold;
  color: red;
  font-size: 64px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  
}

em, strong {
  color: green; 
}

p, li {
  color: yellow;
}

ul {
  list-style: square outside none;
  padding: 500;
}
